<header>
    <div class="row">
        <div class="col-2">
            <a href="anna.html"><img src="../../imgs/logoAnna.png" alt="logo" class="logo"></a>
        </div>
        <a href="#" id="buy"><i class="fas fa-shopping-cart hide_1024"></i></a>
        <input type="checkbox" id="chk">
        <label for="chkthem" class="show-menu-btn">
            <i class="fas fa-bars hide_1024"></i>
        </label>
        <ul class="menu_320">
            <li><a href="anna.html">TRANG CHỦ</a></li>
            <li>
                <a href="TatCaSanPham.html">SẢN PHẨM</a>
                <ul class="sub-menu">
                    <li><a href="LoaiSp1.html">One Piece</a></li>
                    <li><a href="LoaiSp2.html">Two Pieces</a></li>
                    <li><a href="#">Cover-Up</a></li>
                    <li><a href="#">Bandeau</a></li>
                </ul>
            </li>
            <li>
                <a href="TinTuc.html">TIN TỨC</a>
                <ul>
                    <li><a href="TinTuc_CTKM.html">CHƯƠNG TRÌNH KHUYẾN MÃI</a></li>
                    <li><a href="TinTuc_review.html">REVIEW SẢN PHẨM</a></li>
                    <li><a href="#">XU HƯỚNG THỜI TRANG</a></li>
                    <li><a href="#">TIN TỨC XÃ HỘI</a></li>
                </ul>
            </li>
            <li><a href="GioiThieu.html">GIỚI THIỆU</a></li>
            <li><a href="LienHe.html">LIÊN HỆ</a></li>
            <li class="hide_1024"><a href="login.html">ĐĂNG NHẬP</a></li>
            <li class="hide_1024"><a href="join.html">ĐĂNG KÍ</a></li>
            <label for="chk" class="hide-menu-btn"><i class="fas fa-times"></i></label>
        </ul>
        <div class="col-8 menu_1024 hide_320">
            <ul>
                <li><a href="anna.html">TRANG CHỦ</a></li>
                <li>
                    <a href="san-pham">SẢN PHẨM</a>
                    <ul class="sub-menu">
                        <li><a href="LoaiSp1.html">One Piece</a></li>
                        <li><a href="LoaiSp2.html">Two Pieces</a></li>
                        <li><a href="#">Cover-Up</a></li>
                        <li><a href="#">Bandeau</a></li>
                    </ul>
                </li>
                <li>
                    <a href="TinTuc.html">TIN TỨC</a>
                    <ul class="sub-menu">
                        <li><a href="TinTuc_CTKM.html">CHƯƠNG TRÌNH KHUYẾN MÃI</a></li>
                        <li><a href="TinTuc_review.html">REVIEW SẢN PHẨM</a></li>
                        <li><a href="TinTuc_XHTT.html">XU HƯỚNG THỜI TRANG</a></li>
                        <li><a href="TinTuc_TTXH.html">TIN TỨC XÃ HỘI</a></li>
                    </ul>
                </li>
                <li><a href="GioiThieu.html">GIỚI THIỆU</a></li>
                <li><a href="LienHe.html">LIÊN HỆ</a></li>
            </ul>
        </div>
        <div class="col-2 menu_right hide_320">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="login.html"><i class="far fa-user"></i></a>
            <a href="gioHang.html"><i class="fas fa-shopping-cart"></i></a>

        </div>
    </div>
</header>
